.catering-diets-summary {
  padding-top: 38px;
  width: 745px;
  height: auto;
  font-family: "Gilroy", serif;
}
@media only screen and (min-width: 376px) and (max-width: 450px) {
  .catering-diets-summary {
    padding-top: 38px;
    width: 50%;
    height: auto;
    font-family: "Gilroy", serif;
  }
}
